body{
    background-color: rgb(238, 238, 238);
}

#img1{
    margin-top: 2%;
    margin-bottom: 1%;
}

#font1{
    font-size: 220%;
}

#font2{
    font-size: 200%;
    margin-left: 1%;
}


#form1{
    background-color: rgb(206, 206, 206);
    margin-top: 1%;
    width: 45%;
    padding: 1%;
    border: 2px solid rgb(141, 141, 141);
    border-radius: 1em;
}


#button1{
    border: none;
    font-size: 25px;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 25%;
    height: 50px;
    border-radius: 1em;
    color: rgb(255, 255, 255);
    background-color: rgb(22, 111, 194);
    display: inline-block;
}